*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size:17px ;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.wrap{
    margin-top: 140px;
    display:block;
    width: 50%;   
    margin-left: auto;
    margin-right: auto;  
    padding:50px;
    background-color:rgba(255,255,255,0.8);
    margin-bottom:50px;
    border-radius: 20px;
}

.contact{
    text-align:center;
}

.fname{
    padding-right: 120px;
}

.lname{
    padding-right: 95px;
}

.btt{
    border: 0;
	background: #0082e6;
	color: #fff;
	padding: 10px 40px;
	border-radius: 15px;
}

.btt:hover{
    background: #1b9bff;
    transition: .5s;
}

body{
    background:url(img/company1.jpg) center fixed; 
    background-size: cover;
}

.gender{
    padding-right: 120px;
}

.number{
    padding-right: 60px;
}

#comment{
    width: 60%;
    max-width: 60%;
    max-height: 600px;
    padding: 10px;
    outline: none;
}

.comment{
    padding-right: 74px;
}

@media screen and (max-width: 950px) {
    nav {
        height: 160px;
        text-align: center;
    }
    .options {
        float: none;
    }
}

@media screen and (max-width: 620px) {
    nav {
        height: 240px;
    }
}

@keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
  
.fade{  
    animation: 0.8s ease-out slideIn;
}